<!DOCTYPE html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/underscore.js"></script>
  <script type="text/javascript" src="js/xml2json.js"></script>
  <script type="text/javascript" src="js/templates.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  <script type="text/javascript" src="js/model.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div id="WppMainWindow">
		<section id="WppBody">
			<%-body%>
		</section>
		<section id="WppSideBar">
	
		</div>
	</section>
</body>